.dashboard-container {
  width: 100vw;
  min-height: 100vh;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
}

.dashboard-title {
  font-size: 36px;
  margin-bottom: 16px;
  justify-content: center;
  font-weight: 900;
}

.dashboard-description {
  max-width: 1089px;
  line-height: 1.6;
  font-size: 19px;
  border: 1px solid #e3e3e3;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto
}

.dashboard-section-title {
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 700;
}

.dashboard-feature-list {
  max-width: 760px;
  line-height: 1.6;
  font-size: 15px;
  padding-left: 20px;
}

.dashboard-feature-list li {
  margin-bottom: 12px;
}

.dashboard-footer-text {
  max-width: 100vw;
  line-height: 1.6;
  font-size: 16px;
  font-style: italic;
  padding: 16px;
  color: #929292;
  border-radius: 12px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto
}

.feature-grid {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  max-width: 100vw;
  justify-content: center;
}

.feature-card {
  display: flex;
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding: 24px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-card:hover {
  border-color: #007bff;
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.image {
  width: 60px;
  height: auto;

  padding-bottom: 16px;
  object-fit: contain;
  display: block;
}

.feature-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature-text {
  max-width: 200px;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
}