.header-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-container {
  position: relative;
  margin: 0;
  background-color: rgba(15, 34, 137);
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 36px;
  padding-bottom: 36px;
  width: 100vw;
  height: 56px;
}

.header-left {
  position: absolute;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Logo */
.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  display: flex;
  gap: 24px;
  padding: 10px 24px;
  background: #f8f9fb;
  border-bottom: 1px solid #e3e3e3;
  top: 0;
  z-index: 999;
}

.nav-item {
  text-decoration: none;
  color: #444;
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.2s ease, color 0.2s ease;
}

.nav-item:hover {
  background: rgb(231, 240, 131);
  color: rgba(15, 34, 137);
}

.nav-item.active {
  background: #fbff00;
  color: rgba(15, 34, 137);
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  width: 32px;
  height: 32px;
}

.header-title {
  margin: 0;
  font-size: xx-large;
  color: white;
}