.main-content {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 16px;
  justify-content: space-between;
  background: linear-gradient(to bottom, #fed800, #7a9f5c, #0f2289);
}

.text-block {
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 20px;

}

.main-text {
  font-size: 32px;
  color: white;
  font-weight: 700;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
}

.main-subtext {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  font-style: italic;
  color: white;
  justify-content: center;
  align-items: center;
}