.score-wrapper {
  min-width: 100vw;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  min-height: 100vh;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-card {
  background-color: #ffffff;

  width: 100%;
  max-width: 700px;
  padding: 32px 28px;

  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);

  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-input {
  font-weight: 700;
  font-size: 32px;
  color: #1a1a1a;
  margin-bottom: 4px;
}

.exam-input {
  font-weight: 400;
  font-size: 20px;
  color: #666;
  font-style: italic;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 12px;
}

.search-input {
  flex: 1;
  height: 46px;
  padding: 0 14px;

  border: 1px solid #cfcfcf;
  border-radius: 6px;

  font-size: 16px;
  transition: border-color 0.2s ease;
}

.search-input:focus {
  outline: none;
  border-color: #0f2289;
}

.search-button {
  padding: 0 20px;
  height: 46px;

  cursor: pointer;

  background-color: #0f2289;
  color: white;

  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 16px;

  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.result-card {
  border: 1px solid #e0e0e0;
  padding: 20px;

  border-radius: 10px;
  background-color: #fafafa;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.result-card h3 {
  margin-bottom: 10px;
  color: #222;
}

.result-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;

} 

.no-data-text {
  font-style: italic;
  color: #666;
  text-align: center;
  margin-top: 10px;
}