#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.root-container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex: 1;
}